@import "@/assets/styles/variables.scss";

.error {
  color: $red;
  @extend %flex-center-center;
  flex-direction: column;

  .error__icon {
    font-size: 70px;
  }

  .error__message {
    font-size: 22px;
  }
}

/* Media Queries */

/* 576 - 768 px */
@media screen and (max-width: 768px) {
}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
}
